# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env
.env
.env.*

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Dependencies & builds
node_modules/
dist/
dist-ssr/
.vite/
coverage/
.eslintcache
.parcel-cache/
*.local

# Hosting / deploy
.vercel/
.netlify/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
